<head>
  <title>{{page-title}}</title>
  <meta charset="utf-8" />
  <meta name="author" content="{{author}}" />
  {{#description}}
    <meta name="description" content="{{description}}" />
  {{/description}}
  {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
  {{/keywords}}
  <link rel="stylesheet" href="/media/css/style.css">
  <link rel="stylesheet" href="/media/css/highlight.css">
  <link href="/media/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet">
</head>
