<head>
  <title>{{page-title}}</title>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="/media/images/penrose_rhombus_tiling.ico" />
  <meta name="author" content="{{author}}" />
  {{#description}}
    <meta name="description" content="{{description}}" />
  {{/description}}
  {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
  {{/keywords}}
  <link rel="stylesheet" href="/media/css/style.css">
  <link rel="stylesheet" href="/media/css/highlight.css">
  <link href="/media/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154154057-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-154154057-1');
  </script>
</head>
